<div
    class="item items_container"
    [isItemFresh]="course.creationDate"
    [ngClass]="{
        'item_favorite': course.topRated
    }"
>
    <div class="item_content">
        <div class="item_content__header">
            <div class="item-name">
                {{course.title | uppercase}}
                <span *ngIf="course.topRated">
                    <i class="fa fa-star"></i>
                </span>
            </div>
            <div class="item-info">
                <span>
                    <i class="fa fa-clock-o"></i>
                    {{course.duration | hoursMinutes}}
                </span>
                <span>
                    <i class="fa fa-calendar"></i>
                    {{course.creationDate | date:"d MMM, yyyy"}}
                </span>
            </div>
        </div>
        <div class="item_content__text">
            {{course.description}}
        </div>
    </div>
    <div class="item_button-block">
        <div>
            <i class="fa fa-edit"></i>
            <input type="button" value="Edit"  (click)="editCourse(course.id)"/>
        </div>
        <div>
            <i class="fa fa-trash"></i>
            <input type="button" value="Delete" (click)="deleteCourse(course.id)" />
        </div>
    </div>
</div>
