<div class="content">
    <div>
        <p>Title:</p>
        <input type="text" [(ngModel)]="course.title" />
    </div>
    <div>
        <p>Description:</p>
        <textarea rows="4" [(ngModel)]="course.description"></textarea>
    </div>
    <div>
        <p>Date:</p>
        <input type="date" [(ngModel)]="creationDate" />
    </div>
    <div>
        <p>Duration:</p>
        <app-input-duration [(duration)]="course.duration"></app-input-duration>
    </div>
    <div>
        <p>Authors:</p>
        <input type="text" />
    </div>
    <div class="content_actions">
        <input type="submit" value="Save" class="action_save" (click)="saveCourse()" />
        <input type="button" value="Cancel" class="action_cancel" (click)="cancelCreation()" />
    </div>
</div>
