<form [formGroup]="addEditForm" class="content" (ngSubmit)="saveCourse">
    <div>
        <p>Title:</p>
        <span
            class="error-color"
            *ngIf="titleControls.touched && titleControls.errors?.required">
            *required
        </span>
        <span
            class="error-color"
            *ngIf="titleControls.touched && titleControls.errors?.maxlength">
            The title should be less than 50 symbols.
        </span>
        
        <input type="text" formControlName="title" />
    </div>
    <div>
        <p>Description:</p>
        <span
            class="error-color"
            *ngIf="descriptionControls.touched && descriptionControls.errors?.required">
            *required
        </span>
        <span
            class="error-color"
            *ngIf="descriptionControls.touched && descriptionControls.errors?.maxlength">
            The title should be less than 500 symbols.
        </span>

        <textarea rows="4" formControlName="description"></textarea>
    </div>
    <div formGroupName="date">
        <p>Date:</p>
        <span
            class="error-color"
            *ngIf="creationDateControls.touched && creationDateControls.errors?.required">
            *required
        </span>
        <span
            class="error-color"
            *ngIf="creationDateControls.touched && creationDateControls.errors?.pattern">
            The date should be in the DD/MM/YYYY format.
        </span>

        <app-input-creation-date [creationDateForm]="formControls.date"></app-input-creation-date>
    </div>
    <div formGroupName="duration">
        <p>Duration:</p>
        <span
            class="error-color"
            *ngIf="durationControls.touched && durationControls.errors?.required">
            *required
        </span>
        <span
            class="error-color"
            *ngIf="durationControls.touched && durationControls.errors?.durationTime">
            The duration should be more than 0.
        </span>
        
        <app-input-duration [durationForm]="formControls.duration"></app-input-duration>
    </div>
    <div formGroupName="authors">
        <p>Authors:</p>
        <span
            class="error-color"
            *ngIf="authorsControls.touched && authorsControls.errors?.authorLength">
            You should chose at least one author.
        </span>

        <app-input-authors
            [authorsForm]="formControls.authors"
            [authorsList]="authors"
            (addAuthorEvent)="addAuthor($event)"
            (deleteAuthorEvent)="deleteAuthor($event)"
        >
        </app-input-authors>
    </div>

    <div class="content_actions">
        <input [disabled]="!addEditForm.valid" type="submit" value="Save" class="action_save" (click)="saveCourse()" />
        <input type="button" value="Cancel" class="action_cancel" (click)="cancelCreation()" />
    </div>
</form>
