<nav [ngClass]="{'breadcrumb-container_filled': isAuthenticated}">
    <div *ngIf="isAuthenticated">   
        <div class="breadcrumb-container">
            <span *ngFor="let breadcrumb of breadcrumbs">
                <div *ngIf="breadcrumb != breadcrumbs[breadcrumbs.length - 1];then link else text"></div>
                <ng-template #link>
                    <a [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
                        {{ breadcrumb.label }}
                    </a>
                    >&nbsp;
                </ng-template>
                <ng-template #text>
                    {{ breadcrumb.label }}
                </ng-template>
            </span>
        </div>
    </div> 
</nav>
