nav {
    height: 64px;
}

.breadcrumb-container_filled {
    background-color: white;

    .breadcrumb-container {
        display: flex;
        height: 64px;
        width: 100%;
        margin: 0 auto;
        justify-content: flex-start;
        align-items: center;
        max-width: 1100px;

        a {
            text-decoration: inherit;
            color: inherit;
        }
    }
}