footer {
    height: 64px;
    background-color: #414452;
    position: sticky;
    bottom: 0;
    padding-right: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #b6b9c4;
}