.authors_content{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 5px;
    display: flex;

    .author-list{
        padding: 0;
        position: absolute;
        border: 1px solid lightgrey;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        margin: 25px 3px;
        background-color: white;
        cursor: pointer;

        li{
            list-style-type: none;
            margin: 1px 3px;
        }
    }

    input{
        outline: white;
        border: none;
        flex: 1;
    }
}