<header>
    <div class="header-container">
        <div class="header-container_logo">
            <img src="/assets/images/logo.png" />

            <select #langSelect (change)="translate(langSelect.value)">
                <option
                    *ngFor="let lang of translateService.getLangs()"
                    [value]="lang"
                    [selected]="lang === translateService.currentLang"
                >
                    {{ lang }}
                </option>
            </select>
        </div>

        <div *ngIf="isAuthenticated" class="user-container">    
            <span>
                <fa-icon [icon]="faUser"></fa-icon>
                {{userNameInfo}}
            </span>
            <span (click)="logOff()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                {{ "HEADER.LOG_OFF_MESSAGE" | translate }}
            </span>
        </div>
    </div>
</header>
