<div class="item">
    <div class="item_content">
        <div class="item_content__header">
            <div class="item-name">
                ItemName
            </div>
            <div class="item-info">
                <span>
                    <i class="fa fa-clock-o"></i>
                    Duration
                </span>
                <span>
                    <i class="fa fa-calendar"></i>
                    Calendar
                </span>
            </div>
        </div>
        <div class="item_content__text">
            Here placed textsdfkgh
            sdfg
            sdfgdsf
            gdfg
            dfgsfd
            gdfgsdf
            ghsfd
            gdfggdf
            gdfgfdsg
            Here placed textsdfkgh
            sdfg
            sdfgdsf
            gdfg
            dfgsfd
            gdfgsdf
            ghsfd
            gdfggdf
            gdfgfdsg            Here placed textsdfkgh
            sdfg
            sdfgdsf
            gdfg
            dfgsfd
            gdfgsdf
            ghsfd
            gdfggdf
            gdfgfdsg            Here placed textsdfkgh
            sdfg
            sdfgdsf
            gdfg
            dfgsfd
            gdfgsdf
            ghsfd
            gdfggdf
            gdfgfdsg
        </div>
    </div>
    <div class="item_button-block">
        <div>
            <i class="fa fa-edit"></i>
            <input type="button" value="Edit" />
        </div>
        <div>
            <i class="fa fa-trash"></i>
            <input type="button" value="Delete" />
        </div>
    </div>
</div>

<p>item works!</p>
