<div class="item">
    <div class="item_content">
        <div class="item_content__header">
            <div class="item-name">
                ItemName
            </div>
            <div class="item-info">
                <span class="item-info">
                    Duration
                </span>
                <span class="item-info">
                    Calendar
                </span>
            </div>
        </div>
        <div class="item_content__text">
            Here placed text
        </div>
    </div>
    <div class="item_button-block">
        <input type="button" value="Edit"/>
        <input type="button" value="Delete"/>
    </div>
</div>

<p>item works!</p>
