.author-name{
    display: inline;
    background-color: #f2f3f7;
    border: 1px black solid;
    border-radius: 4px;
    padding: 0 3px;
    margin: 3px 5px;

    button{
        border: none;
    }
}