<div class="items">
    <div class="items_add-button">
        <i class="fa fa-plus"></i>
        <button (click)="openCreatePage()">{{ "COURSES.ADD_ITEM_MESSAGE" | translate }}</button>
    </div>
    <app-item
        class="items_list items_container"
        *ngFor="let course of courses | orderBy: searchString"
        [course]="course"
        (deleteEvent)="confirmDeleteCourseById($event)"
        (editEvent)="editCourseById($event)"
    >
    </app-item>
    <div *ngIf="courses.length === 0" class="items_empty">NO DATA. FEEL FREE TO ADD NEW COURSE</div>
    <div *ngIf="courses.length >= 4" class="items_empty">
        <a href="#" (click)="loadMoreCourses($event)">{{ "COURSES.LOAD_MORE_ITEMS_MESSAGE" | translate }}</a>
    </div>
</div>
<app-confirm-delete
    *ngIf="showDeleteDialog"
    (confirmEvent)="deleteCourse($event)"
>
</app-confirm-delete>
