<div class="items">
    <div class="items_add-button">
        <i class="fa fa-plus"></i>
        <input type="button" value="Add item" (click)="openCreatePage()" />
    </div>
    <app-item
        class="items_list items_container"
        *ngFor="let course of coursesFromStore | async | orderBy: searchString"
        [course]="course"
        (deleteEvent)="confirmDeleteCourseById($event)"
        (editEvent)="editCourseById($event)"
    >
    </app-item>
    <div *ngIf="(coursesFromStore | async )?.length === 0" class="items_empty">NO DATA. FEEL FREE TO ADD NEW COURSE</div>
    <div *ngIf="(coursesFromStore | async )?.length >= 4" class="items_empty">
        <a href="#" (click)="loadMoreCourses($event)">Load more</a>
    </div>
</div>
<app-confirm-delete
    *ngIf="showDeleteDialog"
    (confirmEvent)="deleteCourse($event)"
>
</app-confirm-delete>
