form {
    margin-top: 24px;

    input {
        width: 360px;
        height: 46px;
        border-radius: 3px;
        border: solid 1px #d9dbe3;
        background-color: #ffffff;
        margin-right: 6px;
    }

    input[type="button"] {
        width: 100px;
        height: 48px;
        background-color: #9bc837;
    }
}