form {
    margin-bottom: 24px;
    margin-top: 24px;

    input {
        width: 360px;
        height: 46px;
        padding-left: 40px;
        border-radius: 3px;
        border: solid 1px #d9dbe3;
        background-color: #ffffff;
        margin-right: 6px;
        font-size: 20px;
    }

    input[type="button"] {
        width: 100px;
        height: 48px;
        padding-left: 5px;
        background-color: #9bc837;
        color: white;
    }

    .fa-search {
        position: absolute;
        margin-top: 8px;
        margin-left: 8px;
        color: lightgrey;
    }
}