main {
    margin: 0 auto;
    background-color: #f2f3f7;
    height: 100%;
    position: relative;

    header {
        position: sticky;
        top: 0;
    }

    // footer {
    //     position: sticky;
    //     bottom: 0;
    // }
}
