main {
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 0;
    right: 0;
}

app-content {
    position: absolute;
    top: 64px;
    bottom: 0;
    width: 100%;
    background-color: #f2f3f7;
}